@{
    ViewData["Title"] = "Home Page";
}

<div class="container mt-5">
    <div class="text-center p-5 rounded shadow-lg bg-light">

        <h1 class="display-4 mb-3 text-primary">Bienvenido</h1>

        <p class="lead mb-4">
            Biblioteca del curso <strong>Programación II</strong>.
        </p>

        <a class="btn btn-lg btn-outline-primary"
           href="/Movies">
            Lobby
        </a>
    </div>
</div>
